*{
    margin: 0;
    padding: 0;
}
#main{
    background-image: url(./images/landing-page.jpg);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

h2,
h3{
    color: white;
}

.main-text{
    position:absolute;
    top: 40%;
    text-align: center;
    width: 100%;
}

.MT-1{
    font-size: 50px;
    letter-spacing: 20px;
    word-spacing: 10px;
    font-weight: 200;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 50px;

}

.MT-2{
    color: rgb(0, 170, 187);
    letter-spacing: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200; 
    font-size: 100px;
}

.MT-2:hover{
        text-shadow:2px 2px 25px rgb(0, 170, 187) ;
        transition: .7s;
}
.btn{
    background-color: transparent;
    padding: 13px 40px;
    border-radius: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: 100;
    color: white;
}

.main-text button{
    margin-top: 30px;
}

.main-text button:hover{
    background-color:rgb(0, 170, 187) ;
    transition: .7s;
    color: black;
    box-shadow: 2px 2px 25px rgb(0, 170, 187);
}

#main-2{
    position: relative;
    background-image: url(./images/w-1.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;

}

.m2-img{
    text-align: center;
}

.m2-img img{
    width:100%;
}

.h{
    color: rgb(0, 170, 187);
    font-size: 100px;
    font-weight: 200;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 100px;
}
.h:hover{
    text-shadow:2px 2px 25px rgb(0, 170, 187) ;
    transition: .7s;
}
#container{
    background-color:black;
}
.container-1{
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
    margin-right: 60px;
    margin-left: 60px;
    
}
.box-1{
    flex-basis: 22%;
    padding: 100px 10px;
    background-color: rgb(0, 170, 187);
    border-radius: 15px;
    text-align: center;
    border: 2px solid black;
    
    

}
.box-1:hover{
    box-shadow: 2px 2px 40px rgb(0, 170, 187);
    transition: .7s;
}
.box-2{
    flex-basis: 22%;
    text-align: center;
    background-color: rgb(0, 170, 187);
    padding: 100px 10px;
    border-radius: 15px;
    border: 2px solid black;
}
.box-2:hover{
    box-shadow: 2px 2px 40px rgb(0, 170, 187);
    transition: .7s;
}
.box-3{
    flex-basis: 22%;
    text-align: center;
    background-color: rgb(0, 170, 187);
    padding: 100px 10px;
    border-radius: 15px;
    border: 2px solid black;
  
    
}
.box-3:hover{
    box-shadow: 2px 2px 40px rgb(0, 170, 187);
    transition: .7s;
}
.container-1 h2{
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    color:white;
}
.container-1 p{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
}
.p{
    margin-top: 20px;
}
.but{
    background-color: transparent;
    padding: 13px 40px;
    border: 2px solid black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: 100;
    color: black;
}

.box-1 button{
    margin-top: 30px;
}

.box-1 button:hover,
.box-2 button:hover,
.box-3 button:hover{
    background-color: black;
    transition: .7s;
    color: white;
}

.box-2 button{
   margin-top: 50px;
}
.box-3 button{
    margin-top: 30px;
}
.box-1 button{
    margin-top: 80px;
}

/* float */
.img-f{
    float: right;
}
.e-img::after{
    content: "";
    clear: both;
    display: table;
}
.h2-f{
    color:rgb(0, 170, 187) ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
    font-weight: 200;
    text-align: center;
    padding-top: 90px;

}
.p-t{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    text-align: start;
    color: white;
    padding-top: 30px;
    padding-left: 50px;
}

.e-img{
    background-color:black;
}

.z-index{
    position: relative;
    max-width: 100%;
    height: 400px;
    background-color: rgb(0, 170, 187);
    background-size: cover;

}
.black-box {
    position: absolute;
    height: 300px;
    width: 30%;
    top: 70px;
    left: 3%;
  }

  .gray-box {
    position: absolute;
    height: 400px;
    width: 30%;
    top: 28%;
    left: 35%;
  }

  .green-box {
    position: absolute;
    width: 30%;
    height: 300px;
    right: 3%;
    top: 70px;
  }


.black-box:hover,
.gray-box:hover,
.green-box:hover{
    padding: 7px;
    transition: .6s;
}
.z-h2{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-weight: 200;
    padding-top: 15px;
}
.social{
    height: 200px;
    width: 100%;
    position: relative;
    /* background: rgb(0, 170, 187); */
}


.try{
    position: absolute;
    /* top: 90%;
    left: 45%; */
    margin: auto;
    width: 100%;
    text-align: center;

}
.t-h{
    color: rgb(0, 170, 187);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 100;
}
h1.a-t:hover{
    /* font-size: 25px; */
    transition: .6s;
}

.about p{
  text-align: center;
}

.about{
    margin: auto;
    width: 60%;
    padding: 10px;
}

.s1{
    padding-top: 50px;
    background-color: rgb(0, 170, 187);
}
.a-t{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
    font-weight: 200;
    text-align: center;
}
.a-t:hover{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 70px;
    font-weight: 200;
    text-align: center;
    transition: .5s;
}

.a-p{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 200;
    text-align: center;
}
.try{
    background-color: rgb(0, 170, 187);
}
.ifl:hover{
    padding:10px;
    transition: .7s;
    box-shadow: 2px 2px 20px black;
}
.ifl{
    padding-left: 20px;
}